.standard_column_h {
  min-height: 200px;
}
.pd_top_60 {
  padding-top: 60px;
}
.color-alert {
  color: #ff3333;
}
.alert-text {
  color: #ff3333;
  font-weight: bold;
}
.colorsList {
  background-color: #9acfea;
  font-weight: bold;
}
.ulid {
  font-style: italic;
  font-weight: bold;
}
.pink {
  background-color: #ce8483;
}
